/* 
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

body{
  background: #000;
}

h1,
h4,
p,
a {
  color: #fff;
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.btn {
  padding: 10px 32px;
  font-size:1rem;
  text-transform: uppercase;
  background: rgb(248, 217, 15);
  color: #222;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}
.btn-light {
  background:  transparent;
  color: #fff;
}
.btn:hover {
  color: #fff;
  transition: 0.3s;
  background: rgba(255,255, 255, 0.2);
} */
/**/
.footer {
    width: 100% ;
    padding: 6rem 0;
    background-color: rgba(19, 19, 19, 0.8);
}
.footer-container {
    max-width: 1640px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;

}
.left {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.location {
    display: flex;
    margin-bottom: 0.8rem;
}

.location p {
    line-height: 30px;
}

.right {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.social {
    margin-top: 1rem;
}

h4{
font-size: 1.2rem;
padding-bottom: 0.7rem;
}

p {
    font-size: 1.2rem;
}

@media screen and (max-width: 640px) {
    
.footer-container {
    grid-template-columns: 1fr;
}

}